<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>aws-1`</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <p>{{date}}&nbsp;{{time}}</p>
      &nbsp;
      <input type="text" placeholder="your firstname" v-model="first" />
      <input type="text" placeholder="your lastname" v-model="last" />
      <input type="text" placeholder="your height" v-model="high" />
      <input type="text" placeholder="your weight" v-model="weight" />
      <div class="res">
        <button @click="post">Post</button>
        &nbsp;
        <p>{{res}}</p>
      </div>
      &nbsp;
      <div class="history">
        <button @click="get">GetHistory</button>
        <div class="his" v-for="(i,index) in history" :key="index">
          {{"User: "+i.id +', post in : '+ i.LatestGreetingTime}}
          <i class="bi bi-trash" @click="del(i.id)"></i>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
